{% extends "base.html" %}
{% block content %}
<h2>Historique des Prêts</h2>
<p class="intro-paragraph">Consultez l'historique de tous les prêts effectués par les utilisateurs. Vous pouvez rechercher par nom d'utilisateur pour trouver des informations spécifiques.</p>

{% if current_user.role == 'admin' %}
<form method="get" action="{{ url_for('historique_prets') }}" class="form-inline mb-3">
    <div class="form-group mr-2">
        <label for="username" class="mr-3">Rechercher par nom d'utilisateur :</label>
        <input type="text" id="username" name="username" value="{{ request.args.get('username', '') }}" class="form-control recherche">
    </div>
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Titre du Livre</th>
            <th>Date d'Emprunt</th>
            <th>Date de Retour</th>
        </tr>
    </thead>
    <tbody>
        {% for pret in prets %}
        <tr>
            <td>{{ pret.username }}</td>
            <td>{{ pret.livre_titre }}</td>
            <td>{{ pret.date_emprunt.strftime('%Y-%m-%d') }}</td>
            <td>{{ pret.date_retour.strftime('%Y-%m-%d') if pret.date_retour else 'Non retourné' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    body {
        font-family: 'Playfair Display', serif;
        background-color: #f4f6f8;
        color: #333;
    }

    h2 {
        font-size: 2.2em;
        font-weight: 700;
        color: #333;
        text-align: center; /* Centered heading */
        margin-bottom: 20px; /* Space below heading */
    }

    .intro-paragraph {
        text-align: center; /* Centered paragraph */
        font-size: 1.2em;
        margin-bottom: 30px; /* Space below paragraph */
        color: #555; /* Slightly lighter color */
    }

    .form-inline {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
    }

    .form-control.recherche {
        width: 100%; /* Enlarged search bar */
        margin-right: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #d4af37; /* Golden color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        margin-top: 20px;

    }

    .btn:hover {
        background-color: #b8860b; /* Darker golden color */
    }

    .table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .table th, .table td {
        padding: 15px;
        text-align: left;
    }

    .table th {
        background-color: #f8f9fa;
        font-weight: bold;
        color: #333;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}
